@charset "UTF-8";

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}
p {
    text-align: justify;
    text-indent: 50px;
}

div#interface  {  /*Realiza as configurações de CSS na interface*/
    width: 900px; /*Altera a largura da interface para 900px*/
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*Define o tamanho das 4 margens da interface, a opção "auto" faz com  que o navegador deixe a margem centralizada*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*Adiciona uma sombra no container da interface, sendo nja ordem: deslocamento lateral, deslocamento vertical, espalhamento e cor */
    padding: 10px; /*Padding é o espaço interno do objeto, no caso, da interface. cima, direita, baixo, esquerda*/
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
 position: absolute;
 top: 0px;
 background-color: rgba(0, 0, 0, 0.4);
 color: white;
 width: 100%;
 height: 100%;
 padding: 10px;
 box-sizing: border-box;
 opacity: 0;
 transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
opacity: 1;
}

/*Formatação do menu*/

nav#menu {
    display: block; /*Permite que o conteúdo deste menu de navegação flutue pela página*/
}

nav#menu ul {  /*Serão editados os itens referentes à lista não ordenada do menu de navegação em questão*/
    list-style: none; /*Remove os marcadores da lista, como circulos, quadrados, números, etc*/
    text-transform: uppercase; /*Passa o conteúdo em questão para caixa alta*/
    position: absolute; /*Permite que o conteúdo possa flutuar por todo o site, ao contrário da relative, que só permite a flutuação dentro do container*/
    top: -20px; /*Eleva a lista para o top do site, ultrapassando a margem e 0px, ficando bem na beiradinha mesmo*/
    left: 300px; /*Arreda a lista para esquerda, neste caso, 300px*/
}

nav#menu li {  /*Aqui só serão editados os itens referentes à tag li do menu de navegação denominado "menu"*/
    display: inline-block; /*Colocará todos os itens da lista na mesma linha*/    
    background-color: #dddddd;/*Altera a cor de fundo dos itens list para o tom especificado*/
    padding: 10px; /*Cria um espaçamento dentro da caixa de 10px*/
    margin: 2px; /*Altera o espaço de fora do objeto em questão, espaço entre os botões*/;
    transition: background-color 1s; /*Adiciona um efeito de transição de 1 segundo no background-color dos list itens*/

}

nav#menu li:hover {
    background-color: #606060; /*hover = efeito ao passar o mouse em um item, neste caso, irá alterar a cor de fundo do list iten*/
}

nav#menu h1{
    display: none; /*oculta o item referenciado do site, mas mantém no código*/
}

nav#menu a {  /*Altera a aparêncai dos itens que são link, devido ao parametro "a"*/
    color: #000000;
    text-decoration: none; /*remove o sublinhado dos itens, remove as decorações*/
}

nav#menu a:hover {
    color: #ffffff; /* quando passar o mouse devido ao hover nos links, o link ficará com a cor informada*/
    text-decoration: underline; /*adiciona o underliine nos itens qnd passar o mouse por cima*/
}

header#cabecalho img#icone { /*Configuração da imagem de que foi determinada como ícone e está dentro do cabecalho*/
    position: absolute; /*Posição absoluta pode transitar por todo o site*/
    left: 750px;
    top: 40px;
}

header#cabecalho {   /*Serão configurados todos os objetos dentro do cabeçalho*/
    

}